body {
	margin-top: 1.0em;
	background-color: #9eb4ed;
	font-family: Arial, Helvetica, Geneva, sans-serif; 
	color: #000000;
}
#container {
	margin: 0 auto;
	width: 960px;
	position: relative;
	padding-bottom: 30px;
}
#header {
	padding-left: 150px;
}
#nav, #content {
	float: left;
}
#nav {
	width: 150px;
	margin: 0px 20px 0px 0px;
}
#nav ul {
	list-style: none;
	margin-top: 40px;
	padding: 0px;
	padding-right: 15px;
	text-align: right;
}
#nav ul li .active {
	display: block;
	padding: 6px 10px;
	background-color: #bde2ed;
}
#nav ul li a:link {
	display: block;
	padding: 6px 10px;
}
#nav ul li a:hover {
	background-color: #bde2ed;
}
#content {
	width:  770px;
	padding: 0px 10px;
}
h1 { font-size: 3.8em; color: #654e10; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #654e10; }
h3 { color: #654e10; }
a { color: #654e10; }
.clear { clear: both; }
p.description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
	font-style: italic;
}
.download { float: right; }
pre.console { 
	background: #000;
	color: #fff;
	padding: 15px;
}
pre { 
	background: #f7f7ff;
	color: #333;
	padding: 15px;
	overflow-x: auto;
	border: 1px solid #ccc;
}
code {
	font-family: Monaco, "Courier New", monospace;
	font-size: 1.0em;
}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer {
	text-align:center; 
	padding-top:30px; 
	padding-bottom: 20px;
	font-style: italic;
	clear: both;
}
#map {
	width: 600px;
	height: 460px;
	float: left;
}
#map-side-bar {
	float: left;
	width: 160px;
	padding: 7px 20px;
}

table.options {
	background-color: #fff;
}
table.options tbody td {
	padding: 7px 10px 7px 5px;
	text-align: left;
}
table.options thead th {
	border-top: 1px solid #ea8b3a;
	border-bottom: 1px solid #ea8b3a;
}
table.options tbody tr td {
	border-bottom: 1px solid #ea8b3a;
}
table.options td.name, table.options th.name {
	border-left: 1px solid #ea8b3a;
	width: 170px;
	white-space: pre;
}
table.options td.description, table.options th.description {
	border-left: 1px solid #ea8b3a;
	border-right: 1px solid #ea8b3a;
}
table.options td.default, table.options th.default {
	border-right: 1px solid #ea8b3a;
	width: 225px;
	white-space: pre;
	text-align: center;
}
table.options thead th {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0px;
	padding: 7px;
	background-color: #f9e5d4;
}
table.options td p {
	margin: 0px 0px 10px 0px;
}
